@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css");
@import "tailwindcss";

@theme {
  --font-display: "Manrope", sans-serif;

  --color-dark-3: rgba(99, 97, 97, 0.992);
  --color-dark-7: rgba(244, 244, 244, 1);
}

.kjd {
  color: rgba(99, 97, 97, 0.992);
}
